Q1.discuss string slicing, and ,provide  example.
ans:

i) string slicing:stirng slicing in python is about obtaining a sub-string from the given string by slicing it respectively from start to end.

In [ ]:
# example
s = "swapnil arun bidkar"
print(s[0:10])

swapnil ar

Q2.explain the key features of lists in python.
ans.


i) list: are used to store multiple items in a single variable.

ii) list item:list itms are ordered,changeable, and allow duplicate values. list items are indexed , the first item has index[0], the second item has index [1]etc.

 iii) ordered:when we say that lists are ordered, it means that the items have a defined order, and that order will not change,

 if you add new items to a list, the new items will be placed at the end of the list.




iv) list allow duplicates value

In [ ]:
# iv)example
s = ['m',s,5,6,6,6,6,6,6,6,3,]
print(s)

['m', ['m', 'swapnil arun bidkar', 5, 7, 3], 5, 6, 6, 6, 6, 6, 6, 6, 3]

v) list length : to determine how many items a list has, use the len()function:

In [ ]:
 s = ['m',s,5,6,6,6,6,6,6,6,3,]
print(len(s))

11

vi) list can contain different data types:
example
a list with strings, integers and boolan values:

In [ ]:
s = ["swapninl",5,True]
s

['swapninl', 5, True]

vii)  sort : with this function we can sort list elements in ascending and decending order

In [ ]:
#example
s = ["swapnil", "arun", "bidkar"]
s.sort()
print(s)

['arun', 'bidkar', 'swapnil']

viii) append : with this functoin we can add new element in list.

In [ ]:
# example
s = ["swapnil", "arun", "bidkar"]
s.append("kunal")
print(s)

['swapnil', 'arun', 'bidkar', 'kunal']

ix) remove : with this function we can remove element form list

In [ ]:
s = ["swapnil", "arun", "bidkar"]
s.remove("swapnil")
print(s)

['arun', 'bidkar']

x) insert : with this function we can add new element in list where we want.

In [ ]:
#example
s = ["swapnil", "arun", "bidkar"]
s.insert(2,"kunal")
print(s)

['swapnil', 'arun', 'kunal', 'bidkar']

Q3.describe how to access,modify,and delete elements in a list with examples.
ans:

i) how to access element in list.


in python list elements are orered by index. a number refering to their placement in the list. list indices start at 0 and increment by one . to access a list element by index,square bracket notation is used: list[index].

In [ ]:
s = ["swapnil", "arun", "bidkar"]
print(s[2])

bidkar

ii) how to modify element in  list.

we use indexing method for modifying list. by this method we can chanege existing element with new element.

In [ ]:
# example
s = ["swapnil", "arun", "bidkar"]
s[0] = "kunal"
print(s)

['kunal', 'arun', 'bidkar']

iii) how to delet element from string.

del is used to delet any element from list.

we can do it by del keyword of the pop() function .

In [ ]:
#example
s = ["swapnil", "arun", "bidkar"]
del s[2]
print(s)

['swapnil', 'arun']

In [ ]:
s = ["swapnil","arun","bidkar"]
s.pop(1)
print(s)

['swapnil', 'bidkar']

Q4.compare and contrast tuples and lists with examples.


list vs tuple

1)we can modify list element , but we can do it in nature.

for example

In [ ]:
# example
s = ["swapnil", "arun", "bidkar"]
s[0] = "kunal"
print(s)

['kunal', 'arun', 'bidkar']

In [9]:
s = ( "swapnil", "arun", "bidkar")
s.[0] = ("kunal")
print(s)

SyntaxError: invalid syntax (<ipython-input-9-ce25b2814051>, line 2)

ii) we can del list , but we can not do in tuple.

example

In [1]:
s = [ "swapnil", "arun", "bidkar"]
del s[2]
print(s)

['swapnil', 'arun']

In [2]:
s = ( "swapnil","RUN", "NT",)
del s[2]
print(s)

TypeError: 'tuple' object doesn't support item deletion

iii) we can insert new element in list ,but we can do it in tuple.
for example.

In [3]:
s = [ "swpanil","arun","bidkar"]
s.insert(2,"kunal")
print(s)

['swpanil', 'arun', 'kunal', 'bidkar']

In [4]:
s = ( "swapnil", "arun", "bidkar")
s.insert(2,"kunal")
print(s)

AttributeError: 'tuple' object has no attribute 'insert'

iv) we can append list but , we can not do it in tuple.
for example.

In [7]:
s = [ "swapnil", "arun", "bidkar"]
s.append("kunal")
print(s)

['swapnil', 'arun', 'bidkar', 'kunal']

In [8]:
s = ( "swapnil", "arun", "bidkar")
s.append("kunal")
print(s)

AttributeError: 'tuple' object has no attribute 'append'

v) we can sort list but, we can not do it in tuple.
for example.

In [10]:
s = ["swapnil", "arun", "bidkar"]
s.sort()
print(s)

['arun', 'bidkar', 'swapnil']

In [11]:
s = ( "swapnil", "arun", "bidkar")
s.sort()
print(s)

AttributeError: 'tuple' object has no attribute 'sort'

Q5.describe the key feature of sets  and provide example of their use.

ans: a set in python programming is an unordered collection data type that is iterable, mutable and has no duplicate elements.

key feature of set.


1) python set cannot have duplicate value and once it is created we cannot modify its value.

In [12]:
s = {"swapnil", "arun", "bidkar","swapnil"}
print(s)

{'swapnil', 'bidkar', 'arun'}

In [13]:
s = {"swapnil", "arun", "bidkar","swapnil"}
s[0] = "kunal"
print(s)

TypeError: 'set' object does not support item assignment

2) python set can store heterogenous elements in it.

In [14]:
s = {"swapnil", "arun", "bidkar",5,True}
print(s)

{True, 'swapnil', 5, 'arun', 'bidkar'}

3) we can add new element in set ,it is done thorugh the set.add() function.

In [15]:
s = {"swapnil", "arun", "bidkar"}
s.add("kunal")
print(s)

{'swapnil', 'bidkar', 'kunal', 'arun'}

4) we can merge 2 sets by using union() funciton or|operator.
union means we do not taking duplicate of elements in new set.

In [16]:
s = {"swapnil", "arun", "bidkar"}
s1 = {"kunal","swapnil"}
s2 = s.union(s1)
print(s2)

{'bidkar', 'arun', 'kunal', 'swapnil'}

In [17]:
s = {"swapnil", "arun", "bidkar"}
s1 = {"kunal","swapnil"}
s2 = s | s1
print(s2)

{'bidkar', 'arun', 'kunal', 'swapnil'}

5) we can get common element by using & function.

intersection means we take common element from both sets.

In [19]:
s = { "swapnil", "arun", "bidkar"}
s1 = {"kunal","swapnil"}
s2 = s & s1
print(s2)

{'swapnil'}

6) we can find difference in sets by using differene() or - operator.
difference means we print that elements which are present in set a but not in set b

In [20]:
s = {"swapnil", "arun", "bidkar"}
s1 = {"kunal","swapnil"}
s2 = s.difference(s1)
print(s2)

{'bidkar', 'arun'}

7) we can find symmetric difference of sets by using set_A.symmetric_difference(set_B).
symmetric difference means the element present in set a or but but not common in both sets.

In [21]:
s = {"swapnil", "arun", "bidkar"}
s1 = {"kunal","swapnil"}
s2 = s.symmetric_difference(s1)
print(s2)

{'bidkar', 'arun', 'kunal'}

Q6.discuss the use cases of tuples and sets in python programming.

1) tuple : if we need an immutabole collection of date where elements won't change after creation.tuples are generally faster and more memory-efficient than lists, making them better for fixed collecions,as dictionary keys or when iteratoin speed in crucial.

In [22]:
# example
school_id_card = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(school_id_card)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

2) use case of set


i) removing dulicates: one of the most common use cases of set is to remove duplicates from a list .

ii) membership testing: set is effiient for membership testing


iii)  storing hashable elements: since sets only contain hashable elements,
they are useful when we need to store a collection of unique hashable elements.

In [32]:
#example of i) first use case
s = {"swapnil", True, 59,"swapnil"}
s1 = set(s)
print(s1)

{'swapnil', True, 59}

In [31]:
# example of ii) use case
s = {"swapnil", "arun", "bidkar"}
for swapnil in s:
           print("yes")

else:
           print("no")

yes
yes
yes
no

In [34]:
# example of iii) use case
s = {"swapnil", (7,7,8,9,1,2),"arun", "bidkar"}
print(s)

{'swapnil', 'arun', 'bidkar', (7, 7, 8, 9, 1, 2)}

Q7. describe how to add,modify , and delet items in a dictioary with example.

i) how to add item in dic?

adding an item to the dictionary is done by using a new index key and assigning a value to it.

ii) how to modify item in dic?

we can modify the value of a specific item by referring to its key name

iii) how to delet item in dic?

In [38]:
#example of how to add item in dic?
s = { "name": "swapnil", "age": 20 , "city": "pune", "state": "maharashtra"}
s["country"] = "india"
print(s)

{'name': 'swapnil', 'age': 20, 'city': 'pune', 'state': 'maharashtra', 'country': 'india'}

In [40]:
# example of how to modify item in dic?
s = { "name": "swapnil", "age": 20 , "city": "pune", "state": "maharashtra"}
s.update ({"name":"kunal"})
print(s)

{'name': 'kunal', 'age': 20, 'city': 'pune', 'state': 'maharashtra'}

In [41]:
# example of how to delet item in dic?
s = { "name": "swapnil", "age": 20 , "city": "pune", "state": "maharashtra"}
del s["name"]
print(s)

{'age': 20, 'city': 'pune', 'state': 'maharashtra'}

Q8. discuss the importance of dictionary keys being immutable and provide example.


importance of dictionary key being immutable.


i) immutable keys insure that the dictionary will not be modified while it is being read.this is important because a dictionary is primarily concerned with looking up values and not modifying the data itself.

ii) immutable keys help to prevent accidentally modifying a dictionary while it is eing read.

iii) immutable keys help to preserve the integrity of the structure of the discionary itself which helps with reliability and efficiency of any application that contains a dictionary.

In [42]:

s = {"name": "swapnil", "age": 20 , "city": "pune", "state": "maharashtra"}
print(s)

{'name': 'swapnil', 'age': 20, 'city': 'pune', 'state': 'maharashtra'}